.flexbox-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category-margin {
  text-align: center;
}
.category-links {
    display:inline-block !important;
    padding:5px;
}
.image-detail {
    height: 500px;
    width: 800px;
}
.dropzone {
    width: 240px;
    height: 160px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    padding:20px;
}
.preview {
    width: 200px;
    height: 120px;
}
.thumbnail-size {
    height: 130px !important;
    width: 200px !important;
}
.header-row {
    margin-bottom: 20px;
}
.footer {
    margin-top:20px;
}
